<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">{{ title }}</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none"
               href="{% url 'mailing_service:client_list' %}">Клиенты</a>
            <a class="me-3 py-2 text-dark text-decoration-none"
               href="{% url 'mailing_service:client_create'">Новый клиент</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Сообщения</a>
            <a class="py-2 text-dark text-decoration-none" href="#">Настройка рассылок</a>
        </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{ title }}</h1>
    </div>
</header>