<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сервер почтовых рассылок</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'pricing.css' %}" rel="stylesheet">

</head>

<body>
<div class="container py-3">
    {% include 'mailing_service/include/inc_main_menu.html' %}
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>
</body>

</html>
