{% extends 'mailing_service/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить клиента
                            {{ object.last_name }}
                            {{ object.first_name }}
                            {% if object.patronymic %}
                            {{ object.patronymic }}
                            {% endif %} ?
                        </p>
                        <button type="submit" class="btn btn-success">Подтвердить</button>
                        <a href="{% url 'mailing_service:client_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}