{% extends 'mailing_service/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h4>Всего рассылок в сервисе</h4>
                <p>{{ mailings_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h4>Всего активных рассылок</h4>
                <p>{{ active_mailings_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h4>Число уникальных клиентов</h4>
                <p>{{ clients_count }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for blog in blog_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
                <div class="card-header py-3">
                    <h4 class="mb-0">{{ blog.title }}</h4>
                </div>
                <div class="card-body py-3">
                    <img src="{{ object.preview|mymedia}}" alt="Будет картинка">
                    <div class="mb-1 text-muted">Создано {{ blog.date_create }}</div>
                    <p class="card-text mb-auto">{{ blog.body }}</p>
                    <p class="card-text mb-auto">Просмотров {{ blog.count_views }}</p>
                </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
